<nav>
    <a href="/">Home</a>
    <a href="/how_it_works.html">How It Works</a>
    <a href="/meal_plans.html">Meal Plans</a>
    <a href="/homecook_onboard.html">Join Us</a>
    <a href="/contact.html">Contact</a>
    <a href="/reviews.html">Reviews</a>
</nav>

